/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-header-cell {
    display: table-cell !important;
  }
.even-row {
    background-color: #c1cce0; 
}
.odd-row {
    background-color: #d8e4dd;
}
.active-link {
   font-weight: bold; /* Example: Make the text bold for active links */
  color: blue;
  }